.fa-brands {
  color: #0F8B8D;
  font-size: 24px;
}

.avatar {
  width: 100px;
  border-radius:50%;
}

body {
  font-family: 'Lora', sans-serif;
  font-size: 17px;
  background-color: #F7F9FC;
  color: #575F7D;
}

h1, h2 {
  font-family:'Roboto+Mono', sans-serif;
  font-weight: 500;
  color: #143642;
}

h2 {
  color:#EC9A29;
}

a {
  color: #0F8B8D;
  text-decoration: none;
  font-family:'Roboto+Mono', sans-serif;
  font-weight: 600;
}

a:hover, .fa-brands:hover {
  color:#143642;
}

.card-white {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  margin: 20px;
}

.text-center {
  text-align: center;
}

.container {
  width: 500px;
  margin: 0 auto;
}

ul {
  padding: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
